#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  flex-wrap: nowrap;
  flex-direction: row;
}

header h2 {
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  color: #d7d7d7;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.slogan p {
  font-size: 18px;
  font-weight: 300;
  color: #c630f8;
  text-align: center;
  line-height: 1.7;
  max-width: 700px;
  margin: 10px 0px;
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 750px;
}

.processSection {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  box-sizing: border-box; 
  gap: 20px;
}

p {
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
  color: #ccc;
}

h1 {
  font-size: 48px !important;
  color: #a37cff; 
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(145deg, #bca3f8, #9c40c3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0px;
}

h3 {
  font-size: 24px;
  color: #eee;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.transaction-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background: linear-gradient(145deg, rgba(39, 37, 68, 0.9), rgba(74, 70, 139, 0.9));
  border-radius: 15px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4);
  font-family: 'Roboto', sans-serif;
  color: #eee;
  margin: 0 auto;
}

.input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.input-box {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid #6f42c1; 
  background-color: rgba(255, 255, 255, 0.05); 
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  color: #ddd;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-box:focus {
  outline: none;
  border-color: #9b59b6;
  box-shadow: 0 0 10px rgba(155, 89, 182, 0.8);
}

.alert-text {
  font-size: 14px;
  color: #ff6b6b;
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

.success-notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.transaction-section a {
  color: #8e44ad;
  text-decoration: none;
  transition: color 0.3s ease;
}

.transaction-section a:hover {
  color: #a88beb;
  text-decoration: underline;
}

.send-reset-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  gap: 20px;
}

.fetchBtn {
  padding: 12px 20px;
  background: linear-gradient(145deg, #9b59b6, #6f42c1); 
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 6px 20px rgba(155, 89, 182, 0.5);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  text-transform: uppercase;
}

.fetchBtn:hover {
  background: linear-gradient(145deg, #8e44ad, #732d91);
  box-shadow: 0px 8px 30px rgba(155, 89, 182, 0.7);
}

.resetBtn {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: inline
}

.resetBtn:hover {
  color: #0056b3;
  text-decoration: none;
}

#doneBtn {
  padding: 12px 20px;
  background: linear-gradient(145deg, #d7b9e3, #7156a7);
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 6px 20px rgba(94, 54, 110, 0.5);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  width: 250px;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.show {
  display: block;
}